<h1>ランキング</h1>

    <table border="1" align="center">
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Score</th>
        </tr>
        <% @users.each_with_index do |user, i| %>
            <tr>
                <th><%= (i+1).to_s  %></th>
                <th><%= link_to(user.name, "/users/#{user.id}") %></th>
                <th><%= user.score.to_s + "pt" %></th><br>
            </tr>
        <% end %>
    </table>

